{% extends 'blog/base.html' %}

{% block content %}

    <section class="welcome container-fluid bg-objetivo">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-3 text-center">
            <img src="static/img/libro3.jpg" alt="libro3" class="img-fluid">
        </div>
        <div class="col text-start">
            <h2 class="">Presupuesto, aprobación y estructura</h2>
            <p class="lh-sm">En este libro de prácticas se van a tratar distintos aspectos, relacionados con
                el Presupuesto, su Elaboración y Estructura, aspectos que suelen aparecer o es posible que aparezcan
                en las preguntas a desarrollar de los exámenes de las oposiciones al Cuerpo de Gestión de la
                Administración Civil del Estado, tanto por acceso libre como por promoción interna.</p>
            <ul class="lh-sm">Para todas las preguntas se sigue el mismo esquema, que es el que se aconseja
                que utilice el opositor de cara al examen:<br>
                <br>
                – Comentario previo a la pregunta.<br>

                – Número de la pregunta.<br>

                – Normativa aplicable.<br>

                – Breve resumen.<br>

                – Introducción.<br>

                – Respuesta adaptada al enunciado de la pregunta.<br>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-success btn-lg text-nowrap" name="button">
                        <a href="https://cutt.ly/RXn9I1Q" target="_blank" class="tm-btn tm-btn-blue">Comprar</a>
                    </button><br>
                    <br>
                </div>
    </section>

    <section class="container-fluid bg-objetivo">
        <div class="row">
            <figure class="col col-lg-4 col-md-4 col-sm-3 text-center">
                <a href="libro0.html">
                    <div class="">
                        <img class="img-fluid col-lg-4 col-md-4 col-sm-3" src="static/img/libro0.jpg" alt="libro1">
                    </div>
                    <p>Vinculación y transferencias de crédito</p>
                </a>
            </figure>
            <figure class="col col-lg-4 col-md-4 col-sm-3 text-center">
                <a href="libro1.html">
                  <div class="">
                    <img class="img-fluid col-lg-4 col-md-4 col-sm-3" src="static/img/libro1.jpg" alt="libro1">
                  </div>
                  <p>Caja fija</p>
                </a>
              </figure>
                    <figure class="col col-lg-4 col-md-4 col-sm-3 text-center">
                <a href="libro2.html">
                    <div class="">
                        <img class="img-fluid col-lg-4 col-md-4 col-sm-3 " src="static/img/libro2.jpg" alt="libro2">
                    </div>
                    <p>Pagos a justificar</p>
                </a>
            </figure>
        </div>
    </section>

{% endblock %}