{% extends 'blog/base.html' %}

{% block content %}

  <section class="welcome container-fluid bg-objetivo">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-3 text-center">
        <img src="static/img/libro0.jpg" alt="libro0" class="img-fluid">
      </div>
      <div class="col text-start">
        <h2 class="">Vinculación y transferencias de crédito</h2>
        <p class="lh-sm">Al principio, el tema de la vinculación de los créditos parece un poco complicado. Pero
          entendiendo un par de normas básicas, seremos capaces de afrontar todo tipo de preguntas en los exámenes.
          Suele
          ser un tema recurrente en las preguntas de examen, tanto en tipo test como a desarrollar en oposiciones al
          Estado.</p>
        <p class="lh-sm">Íntimamente relacionadas con la vinculación, están las transferencias de crédito.
          Efectivamente, cuando no es
          posible redistribuir crédito entre dos aplicaciones presupuestarias, lo normal es recurrir a tramitar una
          transferencia de crédito.</p>
        <p class="lh-sm">En este libro, disponible en forma electrónico, pero también en libro de tapa blanda, se
          estudian las
          principales normas que nos van a servir para decidir cuándo es posible redistribuir crédito por vinculación y
          cuándo será necesario realizar una transferencia de crédito. Se tratarán también los órganos competentes para
          autorizarlas. Se tendrán en cuenta tanto las normas de la Ley General Presupuestaria como las excepciones y
          particularidades establecidas en la Ley 22/2021 de Presupuestos Generales del Estado para 2022.</p>
        <p class="lh-sm">Además, y lo más importante, se facilitan ejercicios resueltos, para practicar tanto
          vinculación como
          transferencias y órganos competentes para autorizarlas. Las respuestas a los ejercicios están razonadas y
          explicadas.</p>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-success btn-lg text-nowrap" name="button">
        <a href="https://cutt.ly/UXG4Jhz" target="_blank" class="">Comprar</a>
      </button><br>
      <br>
    </div>
  </section>
  <section class="container-fluid bg-objetivo">
    <div class="row">
      <figure class="col col-lg-4 col-md-4 col-sm-3 text-center">
        <a href="libro1.html">
          <div class="">
            <img class="img-fluid col-lg-4 col-md-4 col-sm-3" src="static/img/libro1.jpg" alt="libro1">
          </div>
          <p>Caja fija</p>
        </a>
      </figure>
      <figure class="col col-lg-4 col-md-4 col-sm-3 text-center">
        <a href="libro2.html">
          <div class="">
            <img class="img-fluid col-lg-4 col-md-4 col-sm-3 " src="static/img/libro2.jpg" alt="libro2">
          </div>
          <p>Pagos a justificar</p>
        </a>
      </figure>
      <figure class="col col-lg-4 col-md-4 col-sm-3 text-center">
        <a href="libro3.html">
            <div class="">
                <img class="img-fluid col-lg-4 col-md-4 col-sm-3" src="static/img/libro3.jpg" alt="libro3">
            </div>
            <p>Presupuesto, aprobación y estructura</p>
        </a>
    </figure>
</div>
  </section>

  {% endblock %}